RewriteEngine on
RewriteRule ^catalogo$ data/catalogo.xml
RewriteRule ^metacatalogo$ data/metacatalogo.xml

RewriteRule ^farmacie/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*) /cgi-bin/aggregatore/xml/aggrxml.py?key=$1&comp=$2&value=$3
RewriteRule ^farmacie/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/xml/aggrxml.py?key=$1&comp=$2
RewriteRule ^farmacie/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/xml/aggrxml.py?key=$1
RewriteRule ^farmacie$ cgi-bin/aggregatore/xml/aggrxml.py

RewriteRule ^super/([a-zA-Z_-]+)/([a-zA-Z_-]+)/(.*) cgi-bin/aggregatore/json/superBO/aggrjson.py?key=$1&comp=$2&value=$3
RewriteRule ^super/([a-zA-Z_-]+)/([a-zA-Z_-]+) cgi-bin/aggregatore/json/superBO/aggrjson.py?key=$1&comp=$2
RewriteRule ^super/([a-zA-Z_-]+) cgi-bin/aggregatore/json/superBO/aggrjson.py?key=$1
RewriteRule ^super$ cgi-bin/aggregatore/json/superBO/aggrjson.py

RewriteRule ^superrn/([a-zA-Z_-]+)/([a-zA-Z_-]+)/(.*) cgi-bin/aggregatore/json/superRN/aggrjson.py?key=$1&comp=$2&value=$3
RewriteRule ^superrn/([a-zA-Z_-]+)/([a-zA-Z_-]+) cgi-bin/aggregatore/json/superRN/aggrjson.py?key=$1&comp=$2
RewriteRule ^superrn/([a-zA-Z_-]+) cgi-bin/aggregatore/json/superRN/aggrjson.py?key=$1
RewriteRule ^superrn$ cgi-bin/aggregatore/json/superRN/aggrjson.py

RewriteRule ^palestrern/([a-zA-Z_-]+)/([a-zA-Z_-]+)/(.*) cgi-bin/aggregatore/json/palestreRN/aggrjson.py?key=$1&comp=$2&value=$3
RewriteRule ^palestrern/([a-zA-Z_-]+)/([a-zA-Z_-]+) cgi-bin/aggregatore/json/palestreRN/aggrjson.py?key=$1&comp=$2
RewriteRule ^palestrern/([a-zA-Z_-]+) cgi-bin/aggregatore/json/palestreRN/aggrjson.py?key=$1
RewriteRule ^palestrern$ cgi-bin/aggregatore/json/palestreRN/aggrjson.py

RewriteRule ^scuolern/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*) cgi-bin/aggregatore/json/scuoleRN/aggrjson.py?key=$1&comp=$2&value=$3
RewriteRule ^scuolern/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/json/scuoleRN/aggrjson.py?key=$1&comp=$2
RewriteRule ^scuolern/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/json/scuoleRN/aggrjson.py?key=$1
RewriteRule ^scuolern$ cgi-bin/aggregatore/json/scuoleRN/aggrjson.py

RewriteRule ^postern/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*) cgi-bin/aggregatore/json/posteRN/aggrjson.py?key=$1&comp=$2&value=$3
RewriteRule ^postern/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/json/posteRN/aggrjson.py?key=$1&comp=$2
RewriteRule ^postern/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/json/posteRN/aggrjson.py?key=$1
RewriteRule ^postern$ cgi-bin/aggregatore/json/posteRN/aggrjson.py

RewriteRule ^farmaciern/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*) cgi-bin/aggregatore/json/farmaRN/aggrjson.py?key=$1&comp=$2&value=$3
RewriteRule ^farmaciern/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/json/farmaRN/aggrjson.py?key=$1&comp=$2
RewriteRule ^farmaciern/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/json/farmaRN/aggrjson.py?key=$1
RewriteRule ^farmaciern$ cgi-bin/aggregatore/json/farmaRN/aggrjson.py

RewriteRule ^scuole/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*) cgi-bin/aggregatore/csv/aggrcsv.py?key=$1&comp=$2&value=$3
RewriteRule ^scuole/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/csv/aggrcsv.py?key=$1&comp=$2
RewriteRule ^scuole/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/csv/aggrcsv.py?key=$1
RewriteRule ^scuole$ cgi-bin/aggregatore/csv/aggrcsv.py

RewriteRule ^poste/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/(.*) cgi-bin/aggregatore/rdf/aggrrdf.py?key=$1&comp=$2&value=$3
RewriteRule ^poste/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/rdf/aggrrdf.py?key=$1&comp=$2
RewriteRule ^poste/([a-zA-Z0-9_-]+) cgi-bin/aggregatore/rdf/aggrrdf.py?key=$1
RewriteRule ^poste$ cgi-bin/aggregatore/rdf/aggrrdf.py

RewriteRule ^vicinoa/(.*)/params/(.*)/(.*)/(.*)/(.*)$ cgi-bin/descrittore/vicinoa.py?aggr=$1&lat=$2&long=$3&max=$4&distance=$5
RewriteRule ^vicinoa/(.*)/params/(.*)/(.*)/(.*)$ cgi-bin/descrittore/vicinoa.py?aggr=$1&lat=$2&long=$3&max=$4
RewriteRule ^vicinoa/(.*)/params/(.*)/(.*)$ cgi-bin/descrittore/vicinoa.py?aggr=$1&lat=$2&long=$3
RewriteRule ^vicinoa/(.*)/params/(.*)$ cgi-bin/descrittore/vicinoa.py?aggr=$1&lat=$2
RewriteRule ^vicinoa/(.*)$ cgi-bin/descrittore/vicinoa.py?aggr=$1
RewriteRule ^vicinoa$ cgi-bin/descrittore/vicinoa.py

RewriteRule ^descrittore/(.*)/params/(.*)/(.*)/(.*)/(.*)$ cgi-bin/descrittore/descrittore.py?aggr=$1&lat=$2&long=$3&max=$4&distance=$5
RewriteRule ^descrittore/(.*)/params/(.*)/(.*)/(.*)$ cgi-bin/descrittore/descrittore.py?aggr=$1&lat=$2&long=$3&max=$4
RewriteRule ^descrittore/(.*)/params/(.*)/(.*)$ cgi-bin/descrittore/descrittore.py?aggr=$1&lat=$2&long=$3
RewriteRule ^descrittore/(.*)/params/(.*)$ cgi-bin/descrittore/descrittore.py?aggr=$1&lat=$2
RewriteRule ^descrittore/(.*)$ cgi-bin/descrittore/descrittore.py?aggr=$1
RewriteRule ^descrittore$ cgi-bin/descrittore/descrittore.py

RewriteRule ^selectall$ cgi-bin/descrittore/selectall.py

RewriteRule ^entroilraggio/(.*)/params/(.*)/(.*)/(.*)$ cgi-bin/descrittore/vicinoa.py?aggr=$1&lat=$2&long=$3&distance=$4
RewriteRule ^distanza/(.*)/(.*)/(.*)/(.*)$ cgi-bin/descrittore/distanza.py?lat1=$1&long1=$2&lat2=$3&long2=$4
RewriteRule ^descrizione/(.*)/params/(.*)$ cgi-bin/descrittore/id.py?aggr=$1&id=$2

RewriteRule ^wifi$ data/iperbolewireless.kml
RewriteRule ^colonnine$ data/colonnine_elettriche.kml

RewriteRule ^static/(.*) html/static/$1
RewriteRule ^images/(.*) html/images/$1
RewriteRule ^$ html/
